* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* Layout: Zwei Spalten nebeneinander */
.layout {
  display: flex;
  height: 100vh;
  padding: 30px;
  gap: 30px;
}

/* LINKE SPALTE */
.column.left {
  flex: 0 0 30%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  overflow-y: auto;
}

.column.left h1 {
  font-size: 28px;
  margin: 0;
}

.column.left p {
  font-size: 14px;
  line-height: 1.6;
  color: #dddddd;
  margin: 0 0 10px;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}


/* RECHTE SPALTE: Canvas zentriert */
.column.center {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}


canvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important;
}




/* Steuerungs-Bereich */
.controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 5px;
}

.control-group label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Kleinere Buttons und Eingaben */
button,
select,
input[type="file"] {
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 8px;
  background-color: #000000;
  color: #ffffff;
}

input[type="file"]::file-selector-button {
  background-color: #e1e1e1;
  color: #000000;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
}

